/.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks

# Disable Zero-Installs
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# oclif ignores
*-debug.log
*-error.log
/.nyc_output
/dist
/lib
/tmp
oclif.manifest.json
